*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 50px;
    width: 800px;
}
header{
    align-items: center;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding: 30px;
    padding-left: 170px;
    nav{
        width: 700px;
        text-align: right;
    }
    
    h1{
        font-size: 50px;
        font-family: Inter;
    }
    li{
        display: inline;
        justify-content: space-around;
        padding: 20px;
        list-style: none;
        a{
            text-decoration: none;
            color: gray;
        }
    }
}
section{
    img{
        width: 900px;
        padding-left: 170px;
    }
}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 170px;
    align-items: center;
    h1{
        font-size: 50px;
    }
    p{
        color: gray;
        font-size: 16px;
    }
    button{
        background-color: orange;
        padding: 15px;
        border: 0;

        color: white;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    article{
        width: 350px;
        padding: 20px;
    }
    .article-right{
        margin-bottom: 10px;
        width: 390px;
    }
}
aside{
    background-color: black;
    width: 300px;
    color: white;
    padding: 20px;
    height: fit-content;
    h2{
        color: orange;
        font-size: 30px;
    }
    h6{
        font-size: 13px;
    }
    h4{
        font-size: 19px;
    }
    h4:hover{
        color: orange;
    }
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer{
    padding-left: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1280px;
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        img{
            width: 100px;
        }
        p{
            font-size: 15px;
            margin-top: -10px;
            color: gray;
        }
        .text-article{
            margin-top: -30px;
            margin-left: -70px;
        }
        h5{
            font-weight: 900;
            font-size: 18px;
            margin-top: -14px;
        }
        h5:hover{
            color: orange;
        }
        h1{
            color: gray;
            font-weight: 900;
        }
    }
}
a:hover{
    color: orange;
}
button:hover{
    background-color: black;
}
@media (min-width: 768px) {
    
}